* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
}

.logopad {
    padding: 2%;
}

.logotop {
    width: 11.28125rem;
    height: 2.21875rem;
    flex-shrink: 0;
}

.group2 {
    text-align: right;
    /* width: 43.3125rem; */
    height: 1.0625rem;
    flex-shrink: 0;
}

.transf {
    color: #1A1A1A;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section {
    margin-top: 5%;
}

.notific {
    margin: 1%;
    text-align: right;
}

img {
    justify-content: left;
}

button {
    padding: .1em;
    font-size: large;
    font-weight: bold;
}

.geoloc {
    text-align: center;
}

.serv {
    text-align: center;
}

.servicos {
    padding-bottom: 1%;
}

.segm {
    text-align: center;
}

.segmentos {
    padding-bottom: 1%;
}

footer {
    color: antiquewhite;
    margin-top: 2%;
    padding: 5%;
    background-color: rgb(31, 31, 31);
    text-align: right;
}

/* .draggable {
    border: 2px dashed #838383;
    background-color: #ddd;
    cursor: grab;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1%;
}

.dropzone {
    border: 2px solid #353535;
    background-color: #eee;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
}

.dropzone:hover {
    border-color: #339;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #141414;
        color: #e4e4e4;
    }
} 

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(209, 209, 209);
        color: rgb(45, 45, 75);
    }
} */



