* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
}

.logopad {
    float: left;
}

.logotop {
    margin-left: 95%;
    padding-left: 10%;
}

.headerlink {
    margin-right: 4%;
    color: black;
    text-decoration: none;
}

.notific {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30%;
}
.flecha{
    /* display: grid;
    width: 10%;
    height: 1%; */
    margin: 0 auto;
}
.group3 {
    display: inline-grid;
    grid-template-columns: repeat(2, 48.5%);
}

h3 {
    color: #1A1A1A;
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    color: #595959;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.ptitulo01 {
    font-size: 1.5rem;
}

.ptitulo {
    font-size: 1.6rem;
}

.group2 {
    text-align: right;
    height: 1.0625rem;
    /* flex-shrink: 20; */
    margin-top: 1%;
}

section {
    margin-top: 5%;
}

button {
    color: #0074FF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 1%;
}

iframe {
    margin: 1%;
}


.servimg {
    margin-left: .5%;
}

.servicos {
    margin-left: 16%;
}

.segm {
    text-align: center;
    /* display: inline-grid;
    grid-template-columns: repeat(2, 48.5%); */

}

.segmentos {
    padding-bottom: 1%;
    /* margin-left: auto;
    margin-right: auto; */
}

footer {
    color: antiquewhite;
    margin-top: 2%;
    padding: 5%;
    background-color: rgb(31, 31, 31);
    text-align: right;
}

/* .draggable {
    border: 2px dashed #838383;
    background-color: #ddd;
    cursor: grab;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1%;
}

.dropzone {
    border: 2px solid #353535;
    background-color: #eee;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
}

.dropzone:hover {
    border-color: #339;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #141414;
        color: #e4e4e4;
    }
} 

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(209, 209, 209);
        color: rgb(45, 45, 75);
    }
} */



